footer {
  display: flex;  /* se pune pe parinte*/
  flex-direction: row; /* the same as default one*/
  justify-content:space-between;  /* punem pe parinte ptr ca vrem sa se aplice la fiecare copil, are legatura cu copii lui, nu cu nepotii. justify-content este pe main axes ptr ca ne intereseaza cum sunt alineata la stanga si la dreapta si nu sus sau jos. imp! suntem in row, in column se schimba regula  */
  
}

.footer-links {   /* 3 containere mai mici de flex. containerul parinte este footer */
  display: flex;  /* trebuie pus neaparat si aici, altfel nu are efect urmatoarea propietate*/ 
  flex-direction: column; /*  afiseaza linkurile una sub alta. acesta proprietate se pune pe copii, nu pe parinte*/
  align-items: center;   /* nu vreau sa fie aliniate la stanga, le vreau centrate. are legatura cu fiecare link in parte si acum ptr ca este column, se aplica pe cross axis */
  justify-content: center; /*  centers links vertically. ne-am mutat de pe CA pe MA. justify-content este pe MA*/
}

img {
  max-width: 300px;
}

section {
  display: flex;   
  justify-content: space-around; /* pentru ca sunt in row, folosesc justify-content ptr ca este pe MA*/
  align-items: center;
 /* flex-direction: row;  asta am  pus eu, dar nu trebuie neaparat ptr ca este default*/ 
}

